
.wrapper{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    padding-left: 5em;
}
.lft-container{
    width: 40%;
}
.rght-container{
    
    padding-top: 5em;
}
.title-dash{
    font-family: 'Abril Fatface', cursive;
    margin-top: 1em;
    
}

.text1{
    font-family: 'Helvetica LT Std';
    margin-top: 3em;
    font-weight: 300;
    line-height: 1.8em;
    font-size: 1.3em;
}

.text2{
    font-family: 'Helvetica LT Std';
    font-weight: 400;
    margin-top: 2em;
    font-size: 1.3em;
    
}
.features-text{
    display: flex;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 1.5em;

}
.features{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding-right: 0.4em;
    font-size: 2.3em;
    
}
.pink-features{
  
    color: #FE6665;
   
}
.button-dash{
    margin-top: 1.5em;
	background-color: #FE6665;
	border: 1px solid #FE6665;
	border-radius: 50px;
	padding: 7px 25px;
	color: #F9F9F9;
	font-family: Helvetica, sans-serif;
    font-weight: 400;
}
.button-dash:hover{
    background-color: #262626;
	border: 1px solid #262626;
    color: #F9F9F9;
}
.dashboard-img{
    width: 70%;
}
.features-img{
    width: 80px;
}
.features-box{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 3em;
    gap: 4em;
    margin-bottom: 7em;
    justify-content: space-around;
}
h4{
    font-family: 'Helvetica LT Std';
    font-weight: 300;
    width: 60%;
    font-size: 1.2rem;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0 auto;
}
.relax{
    width: 95px;
}
.movei{
    width: 85px;
}

