.wrapper2 {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.funContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  margin: 70px 230px 30px 230px;
  font-family: "Helvetica LT Std";
  font-size: 14px;
}

.displayBox {
  border: solid;
  border-color: #fdc758;
  border-radius: 8px;
  border-width: 2px;
  width: 180px;
  background-color: #fdc758;
}

.displayText {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 100%;
}

.funTitle {
  font-family: "Abril Fatface", cursive;
  font-size: calc(1.375rem + 1.5vw);
  text-align: left;
  width: 43%;
}

.fontColor {
  color: #fdc758;
}

.funBreakImg {
  padding-left: 3em;
  padding-top: 1em;
}

.animalImage {
  width: 175px;
  height: 170px;
  object-fit: cover;
  overflow: hidden;
  padding: 2.5px;
  border-radius: 8px;
}

.funRandom {
  color: #fdc758;
  background-color: #363ff2;
  border: 3px solid #363ff2;
  border-radius: 50px;
  padding: 5px 25px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-top: 2em;
  margin-bottom: 5em;
}

:hover.funRandom {
  background-color: #fdc758;
  border: 3px solid #fdc758;
  color: #363ff2;
}

.funButtons {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin: 8px;
  background-color: #fe6665;
  border: 1px solid #fe6665;
  border-radius: 50px;
  padding: 7px 20px;
  color: #f9f9f9;
}

.funButtons:hover {
  background-color: #262626;
  border: 1px solid #262626;
  color: #f9f9f9;
}

.joke {
  background-color: #fe6665;
  border: 1px solid #fe6665;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.fact {
  background-color: #363ff2;
  border: 1px solid #363ff2;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.quote {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.cat {
  background-color: #fe6665;
  border: 01px solid #fe6665;
}

.dog {
  background-color: #363ff2;
  border: 1px solid #363ff2;
}
