.blue{
    color: #363FF2;
}
.title-move{
    font-family: 'Abril Fatface', cursive;
    margin-top: 1em;
    text-align: right;
    width: 50%;
    padding-right: 3em;
    padding-left: 2.5em;
    line-height: 1.5em;
}
.title-container{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}
.ballet{
    width: 20%;
}
.activities-container{
    display: flex;
    margin-top: 3em;
    justify-content: center;
    padding-bottom: 50px;
    
padding-left: 12em;
}

.right-box{
padding-left: 4em;
width: 50%;
}

.featured-activity{
    background-color: #FDC757;
    border-radius: 50px;
    width: 75%;
    height: 100%;

    padding-bottom: 4em;
    margin: 0 auto;
}
.title-activity{
    color:#ffffff;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1em;

}
.left-cont{
    width: 60%;
    padding-top: 2em;

    padding-bottom: 4em;
   

}
.img-activity{
    width:65%;
    margin: 0 auto;
   
}

.image{
    width: 100%;
    border-radius: 20px;
}

.instructions{
    color: #363FF2;
    text-align: center;
    padding-top: 1.5em;
    font-size:1.5em ;
    padding-bottom: 0.8em;
    cursor: pointer;
}
.instructions:hover{
    color:#ffffff;
}
.btn-start{
    color: #363FF2;
    background-color: #ffffff;
    border:1px solid white;
    display: block;
    margin: 0 auto;
}
.more-ideas{
    font-size:1.2em ;
    cursor: pointer;
    text-align: center;
    font-family: Helvetica LT Std;
    padding-top: 25px;
}
.more-ideas:hover{
    color: #363FF2;
    font-weight: 600;

}
.box-more-ideas{
    border-radius: 10px;
    border: 2px solid #FDC757;
    width: 60%;
    height: 80px;
    margin-bottom: 1.2em;
}
.more-id{
    text-align: left;
    padding-bottom: 2.5em;
    padding-top: 1em;
    color: #FE6665;
}
.modal-content{
    background-color: #363FF2;
    color: #ffffff;
}

.btn-secondary{
    --bs-btn-bg: #FDC757 !important;
    --bs-btn-color: #262626;
    margin:0 auto;
    --bs-btn-hover-bg: #262626;
    border-radius:  50px;
    padding: 8px 15px;
    margin-bottom:5px;
    margin-top:5px;
}
.modal-body{
    white-space: pre-wrap;
}